# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow Hyprland and related configs
!hypr/
!hypr/**

!waybar/
!waybar/**

!kitty/
!kitty/**

!fuzzel/
!fuzzel/**

!nvim/
!nvim/**

# Allow README file
!README.md
