* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;

    margin: 0;
    padding: 0;
}

#waybar .module {
    margin-left: 6px;
    margin-right: 6px;
}
window#waybar {
    background: #000000;
    margin: 0;
    padding: 0;
}

tooltip {
    background: #313244; 
    border: 1px solid #45475a;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces button {
    background: transparent;       
    color: #D4D4D4;         
    padding: 0;
    margin: 0 5px;
    min-width: 15px;
    min-height: 5px;
}

#clock {
    background: #1E1E1E; 
    color: #D4D4D4;         
    padding: 0;
    margin: 0 5px;
}

#battery {
    background: #1E1E1E; 
    color: #D4D4D4;         
    padding: 0;
    margin: 0 5px;
}

#pulseaudio {
    background: #1E1E1E; 
    color: #D4D4D4;         
    padding: 0;
    margin: 0 5px;
}

#network {
    background: #1E1E1E; 
    color: #D4D4D4;         
    padding: 0;
    margin: 0 5px;
}
